.tamanho{

    width: 500px;
    border: solid;
   

}

h1,h2,h3,p,a{

    color: white;

}

#link{

    text-decoration: none;
    font-size: 32px;
    display: inline-block; /*Junta os dois em apenas um*/

}

.main{

    text-align: center;
    margin: 0 auto;
    width: 600px;
    background-color: black;

}

.cabeca{

    border-bottom: solid 3px;
    border-color: red; 
    text-align: center; 
    background-color: black; 
    margin: 0 auto; 
    width: 600px;
   
}



