.tamanho{

    width: 500px;
    border: solid;
   

}

h1,h2,h3,p,a{

    color: white;

}

#link{

    text-decoration: none;
    font-size: 32px;
    display: inline-block; /*Junta os dois em apenas um*/

}





